@model LostAndFoundBoard.Application.ViewModel.DetailItemViewModel

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/Index.css" />
    </head>
    <body>
        <h1>@Model.Title</h1>

        <table>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Description)
                </td>
                <td>
                    @Html.DisplayFor(m => m.Description)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ContactPersonFullName)
                </td>
                <td>
                    @Html.DisplayFor(m => m.ContactPersonFullName)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.ContactPersonPhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(m => m.ContactPersonPhoneNumber)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(m => m.Category)

                </td>
                <td>
                    @Html.DisplayFor(m => m.Category)
                </td>
            </tr>
        </table>

        @Html.ActionLink("Back to index", "Index", "Home")

        @Html.ActionLink("Edit this item", "EditItem", "Item", new { Id = Model.Id})
    </body>